.header {
    &__top {
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        .container {
            justify-content: space-between;
            align-items: center;
        }

        &--inner {
            justify-content: space-between;
            align-items: center;

            @include small-tablet {
                display: flex;
            }

            @include mobile {
                display: flex;
            }
        }

        &--left {
            gap: 25px;
            grid-column: 1 span;
        }

        &--center {
            grid-column: 6 / 8;
            align-items: center;
            justify-content: center;
        }

        &--navigation {
            grid-column: 5 span;

            @include small-tablet {
                display: none;
            }
        }

        &--list {
            justify-content: end;
        }

        @include mobile {
            font-size: 13px;
        }
    }

    &__location {
        &--popup {
            position: relative;
        }

        &--selection__city {
            display: none;

            &--active {
                width: 286px;
                display: block;
                padding: 16px;
                position: absolute;
                top: 37px;
                left: 100px;
                background: var(--primary-on-primary-white-100);
                border-radius: 4px;
                box-shadow: 0 30px 50px rgba(0, 0, 0, .1);
                z-index: 999;
                user-select: none;

                @include small-tablet {
                    top: 40px;
                    left: 50%;
                    transform: translateX(-50%);
                    user-select: none;
                }

                h3 {
                    color: var(--primary-hight-100);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: .25px;
                    padding-bottom: 16px;
                }
            }

            &--variant {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--yes {
                    padding: 8px 24px;
                    background: var(--primary-hight-100);
                    color: var(--primary-on-primary-white-100);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 16px;
                    transition: 0.3s linear;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &--no {
                    height: 17px;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 1px;
                    border-bottom: 1px solid var(--primary-hight-100);
                }
            }

            &--block {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.400);
                z-index: 999;

                &__menu {
                    padding: 46px 80px 8px;
                    width: 448px;
                    height: 383px;
                    display: flex;
                    flex-direction: column;
                    background: var(--primary-on-primary-white-100);
                    box-shadow: 0 30px 50px rgba(0,0,0,.1);
                    border-radius: 4px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    overflow-y: auto;

                    @include mobile {
                        width: 90%;
                    }

                    @include mobile-iphone {
                        padding: 46px 40px 8px;
                    }

                    &--close {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        cursor: pointer;
                    }

                    h2 {
                        margin-bottom: 32px;
                        text-align: center;
                        color: var(--primary-hight-100);
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: .15px;
                        user-select: none;
                    }

                    &--input {
                        position: relative;

                        input {
                            width: 100%;
                            height: 40px;
                            background: var(--surface-img);
                            border: none;
                            border-radius: 4px;
                            padding: 10px 18px;
                            margin-top: 6px;
                            margin-bottom: 11px;
                            outline: none;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 20px;
                            color: var(--primary-disabled-60);
                        }

                        svg {
                            position: absolute;
                            top: 14px;
                            right: 8px;
                        }

                        &__city {
                            width: 100%;
                            background: var(--primary-on-primary-white-100);
                            box-shadow: 0 30px 50px rgba(0,0,0,.1);
                            border-radius: 4px;
                            position: absolute;
                            top: 48px;
                            z-index: 10001;

                            &--btn {
                                padding: 16px;
                                transition: background-color .5s;
                                cursor: pointer;

                                &:hover {
                                    background-color: var(--surface-img); 
                                }

                                p {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 24px;
                                }
                            }
                        }
                    }

                    &--city {
                        position: relative;

                        &--btn {
                            padding: 12px;
                            background-color: var(--primary-on-primary-white-100);
                            transition: background-color .5s;
                            cursor: pointer;

                            &:hover {
                                background-color: var(--surface-img); 
                            }

                            &:hover p {
                                color: var(--primary-hight-100);
                                font-size: 15px;
                                transition: font-size .2s;
                            }

                            p {
                                padding-left: 20px;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }

        &--selectionOff {
            display: none;
        }

        &--inner {
            padding: 32px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        &--title {
            color: var(--title);
            font-size: 18px;
            line-height: 18px;
        }

        &--container {
            padding: 0;
        }

        @include mobile {
            display: none;
        }
    }

    svg {
        cursor: pointer;
    }

    &__location--name {
        margin-right: 7px;
        cursor: pointer;
    }

    &__telephone {
        margin-left: 25px;
        color: var(--title);
        cursor: pointer;

        @include mobile {
            margin-left: 0;
        }
    }

    &__call-or-write {
        margin-right: 7px;
        cursor: pointer;
    }

    &__top--list {
        gap: 40px;
    }

    &__top--item {
        cursor: pointer;
    }

    &__bottom {
        margin-top: 16px;
        font-size: 14px;
        justify-content: space-between;
        align-items: center;

        &--menu {
            display: none;

            &__btn {
                width: 18px;
                cursor: pointer;
            }

            @include small-tablet {
                display: block;
            }
        }

        &--list {
            grid-column: 5 span;
            gap: 36px;
            align-items: center;

            // small tablet
            @include small-tablet {
                display: none;
            }
        }

        &--center {
            justify-content: center;
            grid-column: 2 span;

            // small tablet
            @include small-tablet {
                grid-column: 6 / 8;
            }
        }

        &--item {
            cursor: pointer;
        }

        &--right {
            grid-column: 5 span;
            justify-content: end;
            align-items: center;
            gap: 30px;
        }

        &--page {
            align-items: center;
            // gap: 16px;
        }

        &--message, &--favorites, &--basket {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--count {
            width: 20px;
            height: 20px;
            padding: 2px 3px;
            position: relative;
            justify-content: center;
            top: -8px;
            left: -10px;
            background: #A6331C;
            color: #fff;
            line-height: 15px;
            border-radius: 60px;
            border: 1px solid #A6331C;
            font-size: 12px;
            user-select: none;
        }

        @include small-tablet {
            display: flex;
        }
    }

    &__you--profile {
        cursor: pointer;
    }

    &__bottom--navigation {
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__navigation {
        &--product {
            width: 100vw;
            height: 454px;
            background: #fff;
            position: absolute;
            box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.10);
            z-index: 99;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }

        &--list {
            gap: 24px;
            align-items: center;

            // small tablet
            @include small-tablet {
                display: none;
            }
        }

        &--item {
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;

            &:hover {
                color: var(--title);
            }
        }

        &--inner {
            padding: 32px 0;
            gap: 16px;
            justify-content: center;
        }
    }

    &__input {
        position: relative;
        // small tablet
        @include small-tablet {
            width: 100%;
            margin-bottom: 16px;
        }

        input {
            width: 329px;
            padding: 10px 208px 10px 15px;
            border-radius: 4px;
            border: none;
            color: rgba(0, 0, 0, 0.60);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            outline: none;
            background: #f6f6f6;

            // small tablet
            @include small-tablet {
                width: 100%;
            }
        }

        svg {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 8px;
            right: 4px;
            cursor: pointer;
            border: none;
        }
    }

    &__navigation--list {
        height: 63px;
    }

    &__navigation--item {
        line-height: 63px;
        position: relative;
    }

    li {
        cursor: pointer;
    }

    &__navigation--active {
        position: relative;
        color: var(--title);
        &::before {
            content: '';
            width: 115%;
            height: 2px;
            background: #000;
            position: absolute;
            top: 41px;
        }
    }

    &__navigation--card {
        width: 216px;
    }
}

.count {
    font-size: 12px;
}

.city {
    &__list {
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    &__block {
        min-width: 120px;
    }

    &__item {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 5px;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    &__found {
        color: #000;
    }
}

.navigation {
    &__product-list {
        gap: 16px;
    }

    &--product__block {
        width: 197px;
    }

    &__product--title {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 24px;
        color: var(--title);
    }

    &__product--item {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 24px;
        opacity: 0.9;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: var(--title);
        }
    }

    &__card {
        height: 56px;
        position: relative;
        margin-bottom: 9px;
    }

    &__card--img {
        cursor: pointer;
    }

    &__card--title {
        padding: 4px 6px;
        height: auto;
        position: absolute;
        top:16px;
        left: 16px;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        background: #fff;
        color: #000;
        border-radius: 4px;
        cursor: pointer;
    }
}

.stock {
    color: #A6331C;
}

.city--letter {
    color: var(--title);
}