// .home {

// }

.product--style {
    gap: 16px;

    &__card {
        background: var(--surface-img);
    }

    &--bottom {
        padding: 32px;

        &__title {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
        }

        &__more {
            margin-top: 16px;
            padding: 0 15px;
        }
    }
}

.room--catalog {
    margin-top: 64px;
    &__top {
        justify-content: space-between;

        &--title {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
        }
    }

    &__bottom {
        margin-top: 24px;
        gap: 16px;
        position: relative;

        &--card__bottom {
            padding: 0 63px;
            text-align: center;
        }
    }

    &__button {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        user-select: none;
    }

    &__button--slide {
        width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 16px;
        top: 50%;
        cursor: pointer;
        transform: translateY(-90%);
    }
}

.button__more {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    left:-14px;

    &::before {
        content: "";
        width: 80px;
        height: 1px;
        background: var(--primary-hight);
        position: absolute;
        bottom: 0;
        transition: all 0.3s ease-out;
    }

    &:hover {
        &::before {
            width: 100px;
        }
    }
}

.popular--categories {
    margin-top: 64px;
    margin-bottom: 2000px;
    &__top {
        justify-content: space-between;

        &--title {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
        }
    }

    &--bottom {
        margin-top: 32px;
        gap: 16px;
    }

    &__bottom--card {
        flex-direction: column;
        gap: 16px;
        cursor: pointer;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }

        &--img {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 216px;
            height: 203px;
            background: #F6F6F6;
        }

        &__bottom {
            text-align: center;
        }
    }

    &__button {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.imageCategoryChairs {
    width: 159px;
    height: 159px;
}