.home {
    &__furniture {
        margin-top: 64px;
        gap: 16px;

        &--left {
            min-width: 680px;

            &__inner {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 24px;
            }

            &--title {
                width: 302px;
                margin: 0 auto;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                line-height: 32px;
                color: var(--title);
            }

            &--description {
                width: 573px;
                margin: 0 auto;
                margin-top: 32px;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }

            &__btn {
                width: 174px;
                margin: 0 auto;
                margin-top: 32px;
                padding: 8px;
                border-radius: 2px;
                border: 1px solid var(--title);

                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.25px;
                transition: 0.3s ease-out;
                user-select: none;

                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
        }

        &--right {
            gap: 16px;
            position: relative;

            &__card {
                &--title {
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    user-select: none;
                }
            }

            &--slide {
                position: absolute;
                top: 50%;
                left: 620px;
                transform: translateY(-90%);
            }
        }
    }

    &__best--offer {
        margin-top: 64px;
        
        &__top {
            justify-content: space-between;

            &--title {
                font-size: 24px;
                font-weight: bold;
                line-height: 32px;
                color: var(--title);

                @include small-tablet {
                    font-size: 20px;
                    line-height: 22px
                }
            }
        }

        &__top--card {
            padding: 4px 6px;
            position: absolute;
            top: 4px;
            left: 4px;
            color: #fff;
            border-radius: 4px;
        }

        &__bottom {
            margin-top: 24px;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 16px;
            row-gap: 24px;
        }

        &__card {
            position: relative;

            &--favorites {
                width: 32px;
                height: 32px;
                margin-top: 4px;
                margin-right: 4px;
                border-radius: 32px;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;

                align-items: center;
                justify-content: center;
                transition: 0.3s background ease-out;

                &:hover {
                    background: #fff;
                }
            }

            &--img {
                width: 265px;
            }

            &--sale {
                font-size: 8px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 1.5px;
                background: var(--title);
            }

            &--discount {
                font-size: 10px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 1.5px;
                background: var(--secondary);
            }

            &--top {
                width: 332px;
                height: 319px;
                background: #F6F6F6;
                justify-content: center;
                align-items: center;
            }

            &--bottom {
                margin-top: 16px;
                justify-content: space-between;
                
                &--title {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }

                &--price {
                    color: var(--title);
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 24px;
                }
            }

            &--size {
                color: var(--title);
                font-size: 11px;
                font-weight: bold;
                line-height: 24px;
            }

            &--add--cart {
                width: 37px;
                height: 32px;
                border-radius: 2px;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover {
                    fill: #fff;
                    background: #000;
                }
            }

            &--button {
                height: 32px;
                padding: 0 8px;
                background: var(--title);
                font-size: 10px;
                line-height: 14px;
                letter-spacing: 1.5px;
                border-radius: 2px;
                text-transform: uppercase;
                color: var(--light-color);
            }
        }

        &__gallery--container {
            margin-top: 16px;
            justify-content: space-between;
        }

        &__gallery--block {
            gap: 13px;
        }

        &__gallery--photo {
            width: 32px;
            height: 32px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            align-items: center;
            justify-content: center;

            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 1.5px;
            cursor: pointer;

            transition: 0.3s ease-in-out;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

    &__tile--collections {
        margin-top: 64px;
        &__top {
            justify-content: space-between;

            &--title {
                font-size: 20px;
                font-weight: bold;
                line-height: 32px;
                color: var(--title);
                text-transform: uppercase;

                @include small-tablet {
                    font-size: 20px;
                    line-height: 22px
                }
            }
        }

        &--img {
            width: 100%;
        }

        &__bottom {
            margin-top: 30px;
            gap: 16px;

            &--card--bottom {
                margin-top: 14px;
                justify-content: space-between;

                &__title {
                    color: var(--title);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;

                    @include small-tablet {
                        // width: 15px;
                    }
                }

                &__price {
                    color: var(--title);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;

                    @include small-tablet {
                        // width: 10px;
                    }
                }
            }
        }
    }

    &__production--section {
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;

        &__top {
            width: 614px;
            margin: 0 auto;
            padding: 0 62px;
            flex-direction: column;
            align-items: center;
            // grid-column: 5 / 9;

            &--title {
                color: var(--title);
                font-size: 24px;
                font-weight: bold;
                line-height: 32px;

                @include small-tablet {
                    font-size: 20px;
                    line-height: 22px
                }
            }

            &--description {
                margin-top: 32px;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;

                @include small-tablet {
                    font-size: 13px;
                }
            }
        }
        &__slider {
            margin-top: 32px;
            gap: 16px;
            justify-content: center;
            // grid-column: 3 / 11;
            position: relative;

            &--turntable {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }

            &--block {
                position: relative;
            }

            &--slide {
                position: absolute;
                top: 50%;
                right: -450px;
                transform: translateY(-50%);
            }
        }

        &__bottom {
            text-align: center;
            margin-top: 32px;
            grid-column: 1 / 12 span;
        }
    }
}

.product--style {
    gap: 16px;

    &__card {
        background: var(--surface-img);
    }

    &--img {
        width: 100%;
    }

    
    &__right {
        @include mobile {
            width: 100%;
            position: absolute;
            left: -100%;
        }
    }

    &--bottom {
        padding: 32px;

        @include small-tablet {
            padding: 22px;
        }

        &__title {
            color: var(--title);
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;

            @include small-tablet {
                font-size: 18px;
            }
        }

        &__more {
            margin-top: 16px;
            // padding: 0 15px;
        }
    }

    @include mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
    }
}

.room--catalog {
    margin-top: 64px;
    &__top {
        justify-content: space-between;

        &--title {
            color: var(--title);
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;

            @include small-tablet {
                font-size: 20px;
                line-height: 22px
            }
        }
    }

    &--img {
        @include small-tablet {
            width: 100%;
        }

        @include mobile {
            width: 172px;                
        }

        @include mobile-average {
    width: 156px;            
        }

        @include mobile-small {
            max-width: 152px;
        }

        @include mobile-iphone-4 {
            width: 132px;
        }
    }

    &__bottom {
        margin-top: 24px;
        gap: 16px;
        display: flex;

        @include small-tablet {
            justify-content: center;
        }

        @include mobile {
            flex-wrap: wrap;
        }

        &--card {
            
            @include small-tablet {
                width: 170px;
            }

            @include mobile {
                width: 172px;                       
            }

            @include mobile-average {
                width: 156px;
            }

            @include mobile-small {
                width: 152px;
            }

            @include mobile-iphone-4 {
                width: 132px;
            }
        }

        &--card__bottom {
            text-align: center;
        }
    }

    &__button {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        user-select: none;

        @include small-tablet {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__button--slide {
        position: absolute;
        right: 16px;
        top: 50%;
        cursor: pointer;
        transform: translateY(-90%);
    }
}

.button__more {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;

    &:hover {
        &::before {
            width: 120%;
        }
    }

    @include small-tablet {
        font-size: 7px;
    }
}

.popular--categories {
    margin-top: 64px;
    &__top {
        justify-content: space-between;

        &--title {
            color: var(--title);
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;

            @include small-tablet {
                font-size: 20px;
                line-height: 22px
            }
        }
    }

    &--bottom {
        margin-top: 32px;
        gap: 16px;
        flex-wrap: wrap;

        @include small-tablet {
            gap: 18px;
        }
    }

    &__bottom--card {
        flex-direction: column;
        gap: 16px;
        cursor: pointer;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }

        &--img {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 216px;
            height: 203px;
            background: #F6F6F6;
        }

        &__bottom {
            text-align: center;
        }
    }

    &__button {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        @include small-tablet {
            font-size: 15px;
            line-height: 24px;
        }
    }
}

.imageCategoryChairs {
    width: 159px;
    height: 159px;
}

.button__slide {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slick-prev {
    display: none;
}

.button__more {
    .border {
        width: 100%;
        border-bottom: 1px solid var(--title);
        transition: width .5s;
    }

    &:hover .border {
        width: 0%;
    }
}