.product-info {
    margin-top: 16px;
    position: relative;

    &_name {
        display: none;

        @include small-tablet {
            display: block;
        }
    }

    &_price {
        display: none;

        @include small-tablet {
            display: block;
        }
    }

    &_block {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;

        @include small-tablet {
            flex-direction: column;
        }

        &-gallery {
            width: 911px;

            @include small-tablet {
                width: 100%;
                margin-top: 26px;
            }

            &-img {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--surface-img);
                height: 607px;

                @include mobile {
                    height: 340px;
                }
            }

            img {
                width: 544px;

                @include small-tablet {
                    width: 70%;
                    height: 70%;
                }
            }

            &-slide {
                margin-top: 16px;
                display: flex;
                gap: 16px;
            
                &-item {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--surface-img);
                    cursor: pointer;

                    img {
                        width: 100%;
                        // width: 100px;
                        // height: 100px;

                        @include small-tablet {
                            width: 90%;
                            height: 90%;
                        }
            
                    }
                }
            }
        }

        &-menu {
            width: 448px;

            @include small-tablet {
                margin: 0 auto;
                margin-top: 24px;
                width: 100%;
            }

            &_name {
                color: var(--primary-hight-100);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;

                @include small-tablet {
                    display: none;
                }
            }

            &_price {
                margin-top: 22px;
                color: var(--primary-hight-100);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.15px;

                @include small-tablet {
                    display: none;
                }
            }

            &_settings {
                margin-top: 8px;

                &-popup {
                    border-bottom: 1px solid var(--divider);

                    &_active {
                        padding: 0 8px;
                        background: var(--surface-img);
                        border-bottom: none;
                    }

                    &-title {
                        padding: 16px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #000;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        cursor: pointer;
                    }
                }

                &-accordion {
                    padding: 0 24px;
                    padding-bottom: 26px;
                    color: var(--primary-hight-100);

                    &_title {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }

                    &_setting {
                        margin-top: 22px;
                        display: flex;
                        justify-content: center;
                        gap: 12px;

                        &-block {
                            width: 32px;
                            height: 32px;
                            background: #b0e0e6;
                            border-radius: 100px;
                            cursor: pointer;

                            &_active {
                                border: 2px solid var(--primary-hight-100);
                            }
                        }
                    }

                    &_order {
                        margin-top: 24px;
                        text-align: center;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0.4px;
                    }
                    
                    &_btn {
                        margin-top: 24px;
                        padding: 8px;
                        width: 100%;
                        border-radius: 2px;
                        border: 1px solid var(--primary-hight-100);

                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0.25px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background: var(--primary-hight-100);
                            color: var(--primary-on-primary-white-100);
                        }
                    }
                }

                &-unopen {
                    display: none;
                }

                &-open {
                    display: block;
                }
            }

            &_btn {
                margin-top: 24px;

                &-btn {
                    width: 100%;
                    padding: 18px 8px;
                    margin-bottom: 16px;
                    border-radius: 2px;
                    border: 1px solid var(--primary-hight-100);

                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0.25px;
                    transition: 0.3s ease-in-out;
                }

                &-pay {
                    color: var(--primary-on-primary-white-100);
                    background: var(--primary-hight-100);

                    &:hover {
                        opacity: 0.9;
                    }
                }

                &-question {
                    &:hover {
                        background: var(--primary-hight-100);
                        color: var(--primary-on-primary-white-100);
                    }
                }
            }
        }
    }

    &_description {
        margin-top: 64px;
        padding-left: 120px;
        overflow: hidden;

        @include small-tablet {
            padding-left: 0;
            margin: 0 auto;
            margin-top: 64px;
        }

        &-head {
            width: 680px;
            @include small-tablet {
                width: auto;
                overflow: hidden;
            }

            &_inner {
                display: inline-block;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid var(--divider);
                gap: 4px;

                @include small-tablet {
                    justify-content: flex-start;
                    overflow: auto;
                }
            }

            &-item {
                padding: 12px;
                color: var(--primary-disabled-38);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.15px;
                cursor: pointer;

                @include small-tablet {
                    padding: 12px 30px;
                }

                &_active {
                    color: var(--primary-hight-100);
                    position: relative;

                    &::before {
                        content: "";
                        height: 4px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        border-radius: 2px 2px 0px 0px;
                        background: var(--primary-hight-100, #000);
                    }
                }
            }
        }

        &-block {
            max-width: 680px;
            margin-top: 32px;

            @include mobile {
                width: 100%;
            }

            &_title {
                color: var(--primary-hight-100);
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                
                @include mobile {
                    font-size: 20px;
                }
            }

            &_title2 {
                margin-top: 32px;
                margin-bottom: 16px;
                color: var(--primary-hight-100);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }

            &_list {
                margin-top: 32px;
            }

            &_text {
                margin-top: 32px;
                color: var(--primary-hight-100);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }

            &_video {
                margin-top: 32px;
                width: 100%;
                height: 453px;
                background: var(--surface-img);

                @include mobile {
                    height: 300px;
                }    
            }

            &_characteristics {
                margin-top: 32px;
                
                &-block {
                    margin-top: 32px;
                }

                &-item {
                    padding: 12px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--divider);
                }

                &-text {
                    color: var(--primary-hight-100);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                }
            }

            &_reviews {

                &-noreviews {
                    padding: 0 20px 50px 20px;
                    font-size: 18px;
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
    }

    // ModalWindow

    &_modal-window {
        width: 100vw;
        height: 100vh;
        background: var(--primary-disabled-10);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        &_inner {
            padding: 42px 77px 32px;
            width: 448px;
            border-radius: 4px;
            background: var(--surface);
            box-shadow: 0px 30px 50px 0px var(--primary-disabled-10);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;

            @include mobile {
                padding: 32px 37px;
                width: 80%;
            }
        }

        &_close {
            position: absolute;
            top: 33px;
            right: 32px;
            cursor: pointer;
        }

        &_title {
            color: var(--primary-hight-100);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.15px;
        }

        &_product {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;


            &-img {
                width: 136px;
                height: 134px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--surface-img);

                img {
                    width: 100px;
                }
            }

            &-inf {
                width: 139px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 8px;
                color: var(--primary-hight-100);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0.25px;
            }
        }

        &_form {
            margin-top: 7px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            input {
                padding: 16px 22px 16px 16px;
                
                @include mobile {
                    padding: 12px 18px 12px 12px;
                }
            }

            textarea {
                padding: 16px 22px 16px 18px;
                resize: none;
                
                @include mobile {
                    padding: 12px 18px 12px 14px;
                }
            }

            input, textarea {
                border-radius: 5px;
                border: 1px solid var(--divider);
                color: var(--primary-medium-60);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

                @include mobile {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            &-personal-data {

                @include mobile {
                    font-size: 12px;
                }

                a {
                    border-bottom: 1px solid var(--primary-hight-100);
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--primary-hight-100);
                    }
                }
            }

            &-btn {
                width: 100%;
                padding: 13px 8px 12px 8px;
                border-radius: 2px;
                background: var(--primary-hight-100);

                color: var(--surface);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.25px;
            }
        }

        &-sent {
            width: 448px;
            padding: 56px 77px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-radius: 4px;
            background: var(--surface);
            box-shadow: 0px 30px 50px 0px var(--primary-disabled-10);
            position: absolute;
            top: 50%;
            left: 50%;
            gap: 24px;
            transform: translate(-50%, -50%);

            @include mobile {
                padding: 36px 37px;
                width: 80%;
            }

            &_svg {
                text-align: center;
            }

            &_text {

                h3 {
                    color: var(--primary-hight-100);
                    text-align: center;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                }

                p {
                    margin-top: 16px;
                    color: var(--primary-hight-100);
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}