.search__menu {
    width: 100wh;
    height: 100vh;
    background: #fff;
    &--content {
        width: 896px;
        padding-top: 55px;
        margin: 0 auto;
        background: #fff;
    }

    &--close {
        width: 24px;
        margin-left: auto;
    }

    &--input {
        margin-top: 35px;
        position: relative;
        input {
            width: 100%;
            box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.10);
            outline: none;
            border: none;
            background: #F6F6F6;
            border-radius: 4px;
            padding: 10px 8px 10px 12px;

            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #000;
        }
    }

    svg {
        position: absolute;
        top: 6px;
        right: 8px;
        cursor: pointer;
    }

    &--found--item {
        margin-top: 41px;
        &__card {
            width: 412px;
            height: 64px;
            cursor: pointer;

            &--link {
                width: 412px;
                justify-content: space-between;
            }

            &--left {
                padding: 8px 0;
                grid-column: 1 / 11 span;
            }

            &--title {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }

            &--price {
                margin-top: 8px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.25px;
            }

            &--img {
                width: 64px;
                height: 64px;
            }
        }
    }
}