@import 'fonts';

html {
    --container: 1376px;
    --padding-container: 20px;
    --container-width:  calc(var(var(--container) + (var(var(--padding-container) * 2))));
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

:root {
    --primary-hight-100: #000;
    --primary-hight: rgba(0, 0, 0, 0.60);
    --title: #000;
    --surface-img: #F6F6F6;
    --secondary: #A6331C;
    --divider: rgba(0, 0, 0, 0.12);
    --light-color: #fff;
    --background-list2: #FAFAFA;
    --primary-disabled-38: rgba(0, 0, 0, 0.38);
    --primary-disabled-12: rgba(0, 0, 0, 0.12);
    --primary-disabled-12: rgba(0, 0, 0, 0.60);
    --surface: #FFF;
}

body {
    margin: 0;
    font-family: 'PT Sans';
    color: var(--primary-hight);
}

*, *::before, *::after {
    box-sizing: inherit;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    user-select: none;
}

.container {
    max-width: calc(var(--container) + (var(--padding-container) * 2));
    padding: 0 var(--padding-container);
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}